h1,h2,h3{
    color:purple;
    font-family: 'Monotype Corsiva';
}
a {
    color:purple;
    font-family: 'Monotype Corsiva'; 
}
.Punkt1{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}
.Punkt2{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}
.Punkt3{
    color:green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
}
